Django>=4.2,<5.0
gunicorn
mysqlclient>=2.2.0
django-environ>=0.11.2
django-cors-headers>=4.2.0
django-secure>=1.0.1
django-axes>=6.0.0
django-meta>=2.0.0
django-sitemaps
whitenoise>=6.6.0
django-compressor>=4.4
django-crispy-forms>=2.1
crispy-bootstrap5>=0.8
django-debug-toolbar>=4.3.0
ipython
Pillow>=9.0.0
bleach
git+https://github.com/farridav/django-jazzmin.git
