{% extends 'base.html' %}
{% load static %}   

{% block title %}
    ABOUT US
{% endblock %}

{% block content %}
<div class="about_main">
    <div class="club_overeview">
        <div class="logo_section">
            <img src="{% static 'img/logo.webp' %}" alt="">

        </div>
        <h1>BANGLADESH SWEDEN POLYTECHNIC INSTITUTE COMPUTER CLUB</h1>
        <p style="color: rgba(255, 255, 255, 0.753); margin-bottom: 40px;">FOUNDED IN <span style="color: #24a7ff; font-weight: 600;">2025</span></p>
        <div class="vision_mision">
            <div class="vimi_left">
                <h3 style="font-size: 30px; font-weight: 600;">VISION</h3>
                <li>Help students turn classroom learning into real skills for real jobs,
                    using new ideas,research,and national opportunities.</li>
                <h3 style="font-size: 30px; font-weight: 600;">MISSION</h3>
                <li>Teach computer science in a hands-on, practical way
        
                </li>
                <li>Support students in doing research and creating their own projects</li>
                <li>Join big tech events and competitions to showcase achievements</li>
                <li>Collaborate with companies and universities to stay updated with industry needs</li>
            </div>
            <div class="vimi_right">
                <img src="{% static 'img/about.jpg' %}" alt="">
            </div>
           </div>
        <div class="wing_show">
            <h2>Our Areas of Expertise</h2>
            <div class="wing_card_wapper">
                <div class="wing_card">
                    <i class="ri-code-s-slash-fill"></i>
                    <h3>PORGRAMING</h3>
                    <P>Learn various programming languages and paradigms to build software solutions</P>
                    <span class="techno">
                        c++ | python | java
                        
                    </span>
           
                
                    <div class="glow"></div>

                </div>
                <div class="wing_card">
                    <i class="ri-shield-fill"></i>
                    <h3>CYBER SECURITY</h3>                    
                    <P>Protect  networks by applying  protocols and best cybersecurity practices.</P>
                    <span class="techno">
                        Encryption |  Pen Testing
                        
                    </span>

                   
                    <div class="glow"></div>


                </div>
                <div class="wing_card">
                    <i class="ri-brain-2-fill"></i>
                    <h3 style="text-transform: uppercase;">Machine Learning</h3>
                    <P>Build intelligent systems that learn from data to solve complex problems .</P>
                    <span class="techno">
                        PyTorch |                         TensorFlow

                        
                    </span>
            
   
                
                    <div class="glow"></div>

                </div>
                <div class="wing_card">
                    <i class="ri-cpu-line"></i>
                    <h3 style="text-transform: uppercase;">It Support</h3>
                    <P>Provide technical support and troubleshoot hardware and software effectively.</P>
                    <span class="techno">
                        Hardware | Network
                        
                    </span>
               
        
                
                    <div class="glow"></div>

                </div>
                <div class="wing_card">
                    <i class="ri-pencil-ruler-2-line"></i>
                    <h3>GRAPHICS DESIGN</h3>
                    <P>Design visually appealing graphics using creativity and digital tools..</P>
                    <span class="techno">
                        Illustrator | Photoshop 
                        
                    </span>
                  
                
                    <div class="glow"></div>

                </div>
            </div>
        </div>
  

   
    </div>
     
</div>

<div class="club_member " style="color: #fff;">
    <div class="advisor">
        <h2 class="section-title">Advisory</h2>
    <div class="member_container">
        {% for person in advisors %}
        
            <div class="profile">
                <img src="{{ person.image.url }}" alt="{{ person.name }}">
                <div class="for_res_pro">
                    <h3>{{ person.name }}</h3>
                <p style="text-transform: uppercase;">{{ person.position }}</p>
                <div class="social_icon_for_member">
                    {% if person.linkedin %}<a href="{{ person.linkedin }}" target="_blank"><i class="ri-linkedin-box-fill"></i></a> {% endif %}
                    {% if person.facebook %}<a href="{{ person.facebook }}" target="_blank"><i class="ri-facebook-circle-fill"></i></a> {% endif %}
                    {% if person.twitter %}<a href="{{ person.twitter }}" target="_blank"><i class="ri-twitter-fill"></i></a> {% endif %}
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    <div class="executive" >

        <h2 class="section-title">Executive Board</h1>
        <div class="member_container">
            {% for person in executives %}
                <div class="profile">
                    <img src="{{ person.image.url }}" alt="{{ person.name }}">

                    <div class="for_res_pro">
                        <h3>{{ person.name }}</h3>
                        <h4 style="font-weight: 400; font-family: poppins;">{{person.bio}}</h4>
                        <p style="text-transform: uppercase; font-family: poppins;">{{ person.position }}</p>
                        <div class="social_icon_for_member">
                            {% if person.linkedin %}<a href="{{ person.linkedin }}" target="_blank"><i class="ri-linkedin-box-fill"></i></a> {% endif %}
                            {% if person.facebook %}<a href="{{ person.facebook }}" target="_blank"><i class="ri-facebook-circle-fill"></i></a> {% endif %}
                            {% if person.twitter %}<a href="{{ person.twitter }}" target="_blank"><i class="ri-twitter-fill"></i></a> {% endif %}
                        </div>
                    </div>
           </div>
           {% endfor %}
        </div>
        
</div>
</div>








<!-- <div class="leader">
    
<h1 class="section-title">General Members</h1>
<div class="container">
    {% for person in generals %}
        <div class="profile">
            <img src="{{ person.image.url }}" alt="{{ person.name }}">
            <h3>{{ person.name }}</h3>
            <p>{{ person.position }}</p>
            <div>
                {% if person.linkedin %}<a href="{{ person.linkedin }}" target="_blank">LinkedIn</a> {% endif %}
                {% if person.facebook %}<a href="{{ person.facebook }}" target="_blank">Facebook</a> {% endif %}
                {% if person.twitter %}<a href="{{ person.twitter }}" target="_blank">Twitter</a> {% endif %}
            </div>
        </div>
    {% endfor %}
</div> -->

{% endblock %}
