*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    background-color: #000000;
    height: 100%;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;               /* Chrome, Safari, Opera */
}
h1,h2,h3{
    font-family: roboto;
}
/* header style */
header{
    width: 100%;

.a{
  text-decoration: none;
  color: #fff;
}
 
}
.header_warper{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    width:95% ;
    max-width: 1500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 15px;
    background-color: #00000059;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(10px);
    z-index: 100;
    align-items: center;
}
.header_warper .logo img{
    width:80px;
}
.logo{
    width: 25%;
    display: flex;
    align-items: center;

}
.links{
    width: 50%;
}
.nav_buttons{
    gap: 10px;
    position: relative;
    width: 25%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: end;
}
.links{
    display:flex ;
    gap: 20px;
    justify-content: center;
}
.links a{
    text-decoration: none;
    color: #fff;
    font-family: poppins;
    transition: all ease 0.3s;
    text-transform: uppercase;
    font-size: 18px;
}
.links a:hover{
    scale: 0.99;
    color: #3598da;
}

.nav_buttons  button a{
    text-decoration: none;

    color: #fff;
}
.join_now{
background: linear-gradient(90deg, #00c6ff, #0072ff);

    color: white;
    box-shadow: 0 0 5px rgba(0, 136, 255, 0.7);


    border: none;
    padding: 12px 24px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
    font-family: poppins    ;
    transition: all ease .3s;
}
.join_now:hover {
   transform: translateY(-2px);
background: linear-gradient(90deg, #0072ff, #0292b9);
  }
.start_learning{
  background: linear-gradient(90deg, #00c6ff, #0072ff);

    color: white;
    box-shadow: 0 0 5px rgba(0, 136, 255, 0.7);


    border: none;
    padding: 12px 16px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
    font-family: poppins    ;
    transition: all ease .3s;
}
.start_learning:hover {
   transform: translateY(-2px);
background: linear-gradient(90deg, #0072ff, #0292b9);
  }

.login_button{

    color: white;
    box-shadow: 0 0 10px rgba(0, 136, 255, 0.7);

  background-color: #00000000;
    border: none;
    padding: 12px 24px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
    font-family: poppins    ;
    transition: all ease .3s;
}

.login_button:hover{
 transform: translateY(-2px);
background: linear-gradient(90deg, #0072ff, #0292b9);
}

.main{
    position: relative;
    overflow: hidden;
}







.hero {
      width: 100%;
  height: 100vh;
  max-width: 1500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

    
    
    
  }

.html svg{
position: absolute;
top: 20%;
left: 20%;

}
.code svg{
  top: 20%;
  right: 20%;
position: absolute;

}
.security svg{
 top: 50%;
 left: 10%;
position: absolute;

}
.design svg{
position: absolute;
 top: 50%;
 right:10% ;

}
.python svg{
  position: absolute;
  top: 80%;
  right:20% ;
}
.react svg{
  position: absolute;
  top: 80%;
  left: 20%;
}
div svg {
  filter: drop-shadow(0 0 0px blue);
  transition: filter 0.3s ease-in-out;
  animation: glowPulse 1s infinite alternate;
}


/* Glow Animation Keyframes */
@keyframes glowPulse {
  0% {
    filter: drop-shadow(0 0 0px blue);
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
    filter: drop-shadow(2px 1px 5px blue);
  }
}

.hero_warper{
  
width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    background: url("../img/hero_bg_ro.jpg");
    padding-top: 10vh;
background-position: center 50%;  background-repeat: no-repeat;
 background-size: cover;
    color: #fff;

}
.text_content{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.text_content h1{
    font-size: 3.5vw;
    font-weight: 500;
    line-height: 120%;
}
.text_content p{
    text-transform: uppercase;
    font-size: 1.2vw;
    font-family: poppins;
    margin-top: 5px ;
}
#app{
    text-align:center;
    font-size:3.5vw;
    font-family: roboto;
    background-image: linear-gradient(
      -225deg,
      #796bfa 0%,
      #114bb6 29%,
      #13b4ff 67%,
      #297edf 100%
    );
    background-clip:border-box;
    text-fill-color: transparent;
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    animation: textclip 2s linear infinite;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

.text_content button{
background: linear-gradient(90deg, #00c6ff, #0072ff);

    color: white;
    box-shadow: 0 0 5px rgba(0, 136, 255, 0.7);


    border: none;
    padding: 12px 24px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 15px;
    font-family: poppins    ;
    transition: all ease .3s;
}
.text_content button:hover{
  transform: translateY(-2px);
background: linear-gradient(90deg, #0072ff, #0292b9);
}







.skills_part{
    width: 100%;
    background-color: #00000000;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 50vh;
}




.scroll {
  position: relative;
  display: flex;
  width: 1100px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(90deg, transparent, #fff 30%, #fff 70%, transparent);
}

.scroll div {
  white-space: nowrap;
  animation: animate var(--t) linear infinite;
  animation-delay: calc(var(--t)/-1);
  
}

.scroll div:nth-child(2) {
  animation: animate2 var(--t) linear infinite;
  animation-delay: calc(var(--t)/-2);

}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}


.scroll div span {
  display: inline-flex;
  margin: 10px;
  padding: 5px 10px;
    box-shadow: 0 0 5px rgba(0, 136, 255, 0.7);

  border-radius: 5px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-family: roboto;
  font-size: 20px;
 background: rgba(5, 63, 255, 0);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);  color: #efe6e6;
  transition: 0.5s;
}

.scroll div span:hover {
  background: #30a9ff;
  cursor: pointer;
}

.vision_section_warper{
    width:95% ;
    max-width: 1500px;
    margin: 0 auto;
    padding: 40px;
    background-position: center 40%;
    background-size: cover;
    
    position: relative;
    color: #fff;
}


.vision_part_top h2{
  text-align: center;
  text-transform: uppercase;
  font-family: roboto;
  font-weight: 500;
  font-size: 3vw;
  margin-bottom: 30px;
}

.vision_part_middle{
  display: flex;
  gap: 15px;
  padding: 0px 15px;
  margin-top: 20px;
  justify-content: center;
 
}
.mission_card_style{
  width: 350px;
  
  background: #614abf0a;
  box-shadow: 0 0 5px  #614abf;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all ease .3s;
  border: 1px solid #614abf;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mission_card_style:hover{
   transform: translateY(-5px);
box-shadow: 0 3px 5px  #614abf;

}
.mission_card_style img{
width: 100%;
border-radius: 5px;
box-shadow: 0 0 2px  #614abf;

border: 1px solid #614abf;
aspect-ratio: 16 / 12;
object-fit: cover;
}
.mission_card_style h3{
  font-family: roboto;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 5px;
  font-size: 1.2vw;
}
.mission_card_style p{
  font-family: poppins;
  font-size: 1vw;
  margin-top: 5px;
  text-align: center;
  font-weight: 400;
  color: #ffffffb9;
}

.faq_warper{
    width:95% ;
    max-width: 1500px;
    margin: 0 auto;
    padding: 70px;

    position: relative;
}
.faq-section {
  width: 100%;
  max-width: 1090px;
  margin: auto;

  color: #fff;
          background: url("../img/hero_bg_ro.jpg") no-repeat ;
          background-position: center;
          background-size: cover;

  padding: 35px;
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all ease .3s;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
}
.faq_warper h2{
  color: #fff;
  margin-bottom: 30px;
  font-size: 3vw;
  font-weight: 500;
  text-transform: uppercase;
  font-family: roboto;
  margin-bottom: 30px;
  text-align: center;
}
.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.faq-question {
  font-weight: 500;
  cursor: pointer;
  font-family: roboto;
  text-transform: uppercase;
  position: relative;
}

.faq-question::after {
  content: "+";
  position: absolute;
  right: 0;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.faq-item.active .faq-question::after {
  content: "−";
}

.faq-answer {
  font-weight: 400;
  display: none;
  font-family: poppins;
  text-transform: uppercase;
  margin-top: 10px;
  color: #ffffffa6;
}





@keyframes noise-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-2%, -3%);
  }
  20% {
    transform: translate(-4%, 2%);
  }
  30% {
    transform: translate(2%, -4%);
  }
  40% {
    transform: translate(-2%, 5%);
  }
  50% {
    transform: translate(-4%, 2%);
  }
  60% {
    transform: translate(3%, 0);
  }
  70% {
    transform: translate(0, 3%);
  }
  80% {
    transform: translate(-3%, 0);
  }
  90% {
    transform: translate(2%, 2%);
  }
  100% {
    transform: translate(1%, 0);
  }
}

.loader{
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 10000;
  height: 100vh;
  background-color: #000000;
}

.events_warper{
    width:100% ;
    max-width: 1500px;
    margin: 0 auto;
    padding: 70px;
    
    position: relative;
    position: relative;
}
.events_warper h2{
  color: #fff;
  font-family: roboto;
  text-transform: uppercase;
  font-size: 3vw;
  margin-bottom: 30px;
    font-weight: 500;

  text-align: center;
}
.events_box{
  position: relative;
  
  height: 500px;
  margin: 0 auto;
  width:100%;
      background: rgba(165, 165, 165, 0.1);
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all ease .3s;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 1090px;
  overflow: hidden;
  border-radius: 10px;
}
.events_box img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.action {
  position: absolute;
  justify-content: space-between;
  padding: 0 20px;
  display: flex;
  align-items: center;
  bottom: 5%;
  left: 0%;
  width: 100%;
  z-index: 1;
}
.action_text h3{
  color: #fff;
  font-family: roboto;

  
  font-size: 2vw;
  font-weight: 500;
}
.action_text p{
  color: #ffffffb4;
  font-family: roboto;
  font-size: 1vw;
  width: 70%;
  font-weight: 500;
}



.events_overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background: #000000;
background: linear-gradient(0deg,rgb(14, 14, 14) 0%, rgba(0, 0, 0, 0) 45%);
}


.contact_form_section {
   position: relative;
  
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
  width: 91%;  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all ease .3s;
  max-width: 1090px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: transparent; /* Optional */
}


.contact_form_section form input,
.contact_form_section form textarea {
  width: 1070px;
  margin: 0 auto;
  font-family: poppins;
  padding: 15px;
        background: rgba(165, 165, 165, 0.1);
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all ease .3s;
  border: 1px solid rgba(255, 255, 255, 0.219);
  color: #fff;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact_form_section form button {
  padding: 10px 20px;
  background-color: #0077ff;
  color: white;
  border: none;
  transition: all ease ;
  border-radius: 5px;
  cursor: pointer;
}
.contact_form_section form button:hover{

  transform: translateY(-2px);
background: linear-gradient(90deg, #0072ff, #0292b9);
}


.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects_wrapper{
    width:95% ;
    max-width: 1500px;
    margin: 0 auto;
    font-family: roboto;
    position: relative;
    text-transform: uppercase;
    
    color: #fff;
}

.projects_wrapper h2{
  font-family: roboto;
  font-size: 3vw;
  font-weight: 500;
  text-align: center;
}


.projects_container{

    border-radius: 10px;
    z-index: 9;
    position: relative;
    padding: 170px 100px;
  

}


footer{
width: 100%;
height: auto;
margin-top: 100px;
color: #fff;
background: url("../img/hero_bg.jpg");
background-position: center 50%;  
background-repeat: no-repeat;
 background-size: cover;

}

.footer_content{
    width:95% ;
    position: relative;
    margin: 0 auto;
max-width: 1500px;

}
.footer_top{
  margin: 0 auto;
  position: relative;
  width: 85%;

}
.footer_top p{
  font-family: poppins;
  text-align: center;
  font-size: 20px;
}
.footer_top h2{
  font-family: poppins;
  margin: 0%;
  padding: 0%;
    text-align: center;

  line-height: 100px;
  font-size:140px;
}






/* login style  */
.login_banner{
  width: 100%;
  height: 60vh;
  background: url("../img/login.jpg") no-repeat;
  background-position: center ;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registation_banner{
   width: 100%;
  height: 300px;
  background: url("../img/login.jpg") no-repeat;
  background-position: center ;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.announcement_banner{
     width: 100%;
  height: 60vh;
  background: url("../img/login.jpg") no-repeat;
  background-position: center ;
  background-size: cover;
  display: flex;
  align-items: center;
  color: #fff;
  
  justify-content: center;
}
.announcement_banner h1{
    font-size: 3vw;
  
  color: #fff;
  text-transform: uppercase;
  font-family: roboto;
  font-weight: 500;
}
.login_banner h1{
  font-size: 3vw;
  
  color: #fff;
  font-family: roboto;
  font-weight: 500;
  
}
.registation_banner h1{
    font-size: 3vw;
  
  color: #fff;
  font-family: roboto;
  font-weight: 500;
}
.login_from{
  padding: 150px 0;
  background: url('../img/hero_bg_ro.jpg') no-repeat;
  background-size: cover;
  background-position: bottom;
}
.registation_from{
  padding: 150px 0;
  background: url('../img/hero_bg_ro.jpg') no-repeat;
  background-size: cover;
  background-position:bottom  ;
}
.announcement{
      padding: 20px 0;
  background: url('../img/ano_bg.jpg') no-repeat;
  background-size: cover;
  background-position:top;
}
.announcement_warper{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 0;

}
.event_content{
    background: url('../img/ano_bg.jpg') no-repeat;
  background-size: cover;
  background-position:top;
}
.single_event_full_page{
      background: url('../img/ano_bg.jpg') no-repeat;
  background-size: cover;
  background-position:top;
}
.event_warper{
  width: 80%;
  margin: 0 auto;
  position: relative
  ;
  padding: 70px 0;
}
.event_warper p{
  color: #ffffffc5;
  font-size: 1vw;
  font-family: poppins;
}
.events_wrapper{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 0;
}
.login_from_warper{
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.registation_section_warper{
    width: 95%;
  margin: 0 auto;

}
.registation_from_warper{
    width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.registation-form{
  background-color: #37217e00;
  padding: 50px;
  box-shadow: 0 0 5px 0 #ffffff8f;
  color: #fff;
  border-radius: 10px;
}
.Verify_from{
  background-color: #37217e00;
  padding: 50px;
  box-shadow: 0 0 5px 0 #ffffff8f;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 600px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.Verify_from h2{
  text-transform: uppercase;
  font-family: poppins;
  font-weight: 500;
  margin-bottom: 15px;
}
.login-form{
    background-color: #37217e00;
  padding: 50px;
  box-shadow: 0 0 5px 0 #ffffff8f;
  color: #fff;
  border-radius: 10px;
}
.login-form input,
.login-form textarea {
  
  width: 750px;
  margin: 0 auto;
  font-family: poppins;
  padding: 15px;
        background: rgba(165, 165, 165, 0.1);
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all ease .3s;
  border: 1px solid rgba(255, 255, 255, 0.219);
  color: #fff;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.Verify_from input{
    width: 100%;
  margin: 0 auto;
  font-family: poppins;
  padding: 15px;
        background: rgba(165, 165, 165, 0.1);
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all ease .3s;
  border: 1px solid rgba(255, 255, 255, 0.219);
  color: #fff;
  margin-bottom: 15px;
  /* display: block; */
  border-radius: 5px;
  border: 1px solid #ccc;
}
.login-form h2{
  font-family: roboto;
  font-size: 2vw;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}
.learing_banner{
  width: 100%;
  padding: 170px 0;
  background: url(../img/learning.jpg) no-repeat;
  object-fit: cover;
  background-position: center;
}
.learning_warpper{
  
  padding: 50px 0;
  background: url(../img/hero_bg_ro.jpg) no-repeat;
  background-position: center;
  background-size: cover;


}
.btn:hover{
  transform: translateY(-3px);
  background: linear-gradient(90deg, #00c6ff, #0072ff);

}
.learning_cont{
  width: 95%;
  margin: 0 auto  ;
}
.login-button{
background: linear-gradient(90deg, #00c6ff, #0072ff);

    color: white;
    box-shadow: 0 0 5px rgba(0, 136, 255, 0.7);


    border: none;
    padding: 12px 24px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
    transform: translateX(-50%);

    position: relative
    ;
    left: 50%;
    font-family: poppins    ;
    transition: background ease .3s;
}
.login-button:hover{
background: linear-gradient(90deg, #0072ff, #0292b9);
}
.registation_button{
  background: linear-gradient(90deg, #00c6ff, #0072ff);

    color: white;
    box-shadow: 0 0 5px rgba(0, 136, 255, 0.7);


    border: none;
    padding: 12px 24px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;


    font-family: poppins    ;
    transition: background ease .3s;
}
.registation_button:hover{
background: linear-gradient(90deg, #0072ff, #0292b9);
}
.error_box{
  display: block;
  justify-content: center;
}
.error_box p{
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  font-family: poppins;
}
.registation-form input,
.registation-form textarea {
  
  width: 100%;
  margin: 0 auto;
  font-family: poppins;
  padding: 15px;
        background: rgba(165, 165, 165, 0.1);
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all ease .3s;
  border: 1px solid rgba(255, 255, 255, 0.219);
  color: #fff;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.registation-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dropdown{
  display: flex;
  gap: 10px;
  width: 100%;

}
.drop_text{
  font-family: poppins;
  text-align: center;
  font-size: 14px;
  color: #fdfdfd;
  text-transform: uppercase;
}
#semester{
    font-family: poppins;
   display: flex;
   align-items: center;
   gap: 10px;
   justify-content: center;
  padding: 15px;
        background: rgba(165, 165, 165, 0.1);
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all ease .3s;
  border: 1px solid rgba(255, 255, 255, 0.219);
  color: #fff;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#department{
      font-family: poppins;
  padding: 15px;
  background: rgba(165, 165, 165, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.219);

  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(10px);
     gap: 10px;

  -webkit-backdrop-filter: blur(10px);
  transition: all ease .3s;
     display: flex;
   align-items: center;
   justify-content: center;
  color: #fff;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#wing{
        font-family: poppins;
           display: flex;
              gap: 10px;

   align-items: center;
   justify-content: center;
  padding: 15px;
        background: rgba(165, 165, 165, 0.1);
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all ease .3s;
  border: 1px solid rgba(255, 255, 255, 0.219);
  color: #fff;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.form-select {
    background: rgba(165, 165, 165, 0.1);
    color: #a19595;
    border: 1px solid #cccccc3a;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    -moz-appearance: none;


}
.nav_buttons i{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 30px;

  color: #ffffff;
  
}
.Verify_h2 h2{
  font-size: 2vw;
  font-family: poppins;
  font-weight: 500;
  text-transform: uppercase;
}
.announcement_box{
  border-radius: 10px;
  padding: 20px;
 
  width: 100%;
  position: relative;
  color: #fff;
    background: rgba(165, 165, 165, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.219);

  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(10px);
}
.announcement_box  img{
  width: 100%;
  
  object-fit: cover;
  height: 30vh;
  border-radius: 10px;
}
.announcement_box h3{
  font-family: poppins;
  color: #fff;
  font-size: 1.5vw;
  font-weight: 500;
}
.announcement_box p{
  font-family: poppins;
  color: #ffffffa4;
  font-size: 1vw;
  width: 80%;
  font-weight: 500;
}
.single_anno_banner h1{
  text-transform: uppercase;
  font-family: roboto;
  font-size: 2.5vw;
}
.anno_warper{
  
  background: url('../img/ano_bg.jpg') no-repeat;
  background-size: cover;
  padding: 70px 0;
  background-position:top;

}
.anno_content{
  width: 60%;
  margin: 0 auto;
  font-family: poppins;
  color: #ffffffb9;
  display: flex;
}
.anno_content p{

  font-size: 1.1vw;
}
.container h2{
  color: #fff;
   font-size: 2vw;
   text-align: center;
   margin-top: 30px;
   font-family: roboto;
   font-weight: 500;
}
#moments{
      background: rgba(165, 165, 165, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.219);
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(10px);
  padding: 30px 20px;
  border-radius: 10px;
}
  .moments-gallery {
    display: flex;
    justify-content: center;
    gap:15px;
    flex-wrap: wrap;
  }

  .moment-item {
    background: #000000a2;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    color: #fff;
    width: 48%;
    transition: transform 0.3s ease;
  }

  .moment-item:hover {
    transform: scale(1.02);
  }

  .moment-item img {
    width: 100%;
    
    object-fit: cover;
  }

  .moment-item p {
    padding: 12px;
    margin: 0;
    font-size: 1rem;
    color: #333;
  }
  .pending{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
.pending h2{
  text-align: center;
  color: #fff;
  font-family: roboto;
  text-transform: uppercase;
  font-size: 2.5vw;
  font-weight: 500;
}
.pending p{
  text-align: center;
  color: #fff;
  font-family: poppins;
  font-size: 1vw;
  font-weight: 500;
}
.pending a{
  text-decoration: none;
  color: #0072ff;
  font-weight: 600;
  font-family: poppins;

}
.dashboard_content{
   background: url("../img/hero_bg_ro.jpg");
   background-position: center;
   background-size: cover;
  color: #fff;
}
.dash_warper{
  width: 90%;
  margin: 0 auto;
  max-width: 1090px;

}
.dashboard_top{
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.dash_main{
        background: rgba(165, 165, 165, 0.1);
  border: 1px solid #0027d2a2;
  position: relative;
  box-shadow: 0 0 10px 0 #0027d2a2;
  backdrop-filter: blur(10px);
  padding: 40px 40px;
  border-radius: 10px;
  margin-top: 20px;
}
.dash_top_left img{
  width: 170px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px #002fff solid;
  padding: 10px;
  object-position: top;

  height: 170px;
}
.dash_top_right h2{
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-family: poppins;
}
.details_top{
  display: flex;
  gap: 20px;
  font-family: poppins;
}
.details_top P{
  font-size: 14px;
  margin-top: 5px;
}
.details_bottom{
  display: flex;
  gap: 20px;
}
.dash_main{
  justify-content: space-between;
  display: flex;
}
.dash_main_left h2{
  font-family: poppins;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}
.dash_main_left li{
    list-style: none;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: poppins;


}
.dash_main_right{
  width: 35%;
}
.pending_member{
  font-family: poppins;
  text-transform: uppercase;
}
.dash_main_right h2{
  font-family: poppins;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}
.dash_main_right li{
    list-style: none;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: poppins;
}
.pending_div{
  align-items: center;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.about_main{
  width: 100%;
  color: #fff;
  background: url('../img/ano_bg.jpg') no-repeat;
    background-size: cover;
  background-position:center ;
}
.club_overeview{
  margin: 0 auto;
  display: flex;
  width: 95%;
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
}
.logo_section img{
  width: 250px;
}
.club_overeview p{
  font-size: 20px;
  font-family: poppins;
}
.club_overeview h2{
  font-size: 30px;
  font-weight: 600;
}
.club_overeview h1{
  font-size: 30px;
  font-weight: 600;
}
.club_member{
 
  width: 95%;
  
  margin: 0 auto;
  margin-top: 70px;
}
.advisor h2{
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 0px 6px 5px rgba(160, 160, 160, 0.3);
  font-family: poppins;
  text-align: center;
  color: #57ddff;
  margin-bottom: 20px;
  font-size: 35px;
}
.executive h2{
  margin: 40px 0;

  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 0px 6px 5px rgba(160, 160, 160, 0.3);
  font-family: poppins;
  text-align: center;
  font-size: 35px;
  color: #57ddff;
}
.profile{
    background: rgba(165, 165, 165, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.219);
  position: relative;
  box-shadow: 0 0 2px  #fff;
  /* background: #075E98;
  background: linear-gradient(359deg,rgba(7, 94, 152, 1) 0%, rgba(84, 169, 202, 0.63) 98%);
  border: 1px solid rgba(255, 255, 255, 0.219); */
  position: relative;
  width: 300px;
  border-radius: 10px;
  padding: 20px;
}
.profile img{
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  aspect-ratio: 1/1;
 
}
.social_icon_for_member a,i{
  font-size: 25px;
  color: #fff;
  text-decoration: none;
}
.profile h3{
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}
.profile p{
  font-size: 16px;
  color: #57ddff;
  font-weight: 600;
}
.social_icon_for_member{
  display: flex;
  gap: 10px ;
}
.member_container{
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
}
.wing_card{
  opacity: 0;
  scale: 0.8;
}
.vision_mision{
  display: flex;
  gap: 20px ;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.vimi_left{
  width: 50%;
}

.vimi_left li{
  font-size: 17px;
  color: #ffffffb4;
  font-family: poppins;
}

.vimi_right{
  width: 50%;
}
.vimi_right img{
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.wing_show{
  width: 80%;
}
.wing_show h2{
  margin: 40px 0;

  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 0px 6px 5px rgba(160, 160, 160, 0.3);
  font-family: poppins;
  text-align: center;
  font-size: 35px;
  color: #57ddff;
}

.wing_card{
  position: relative;
  width: 310px;
  padding: 2em;
  color: white;
  border-radius: 20px;
  backdrop-filter: blur(14px);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
  font-family: 'Poppins', sans-serif;
  z-index: 1;
}
.glow {  position: absolute;
  top: var(--y, 50%);
  left: var(--x, 50%);
  width: 140px;
  height: 140px;
  background: radial-gradient(circle at center, rgb(37, 168, 255), transparent 60%);
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  pointer-events: none;
  opacity: 0;
  transition: top 0.1s, left 0.1s, opacity 0.3s ease;
  z-index: 0;
}
.wing_card:hover .glow {
  opacity: 1;
}
.wing_card:hover{
  border: #00c6ff 1px solid;
}
.wing_card::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(var(--angle, 135deg), rgba(255,255,255,0.1), rgba(255,255,255,0));
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: 2;
  transition: background 0.2s ease;
}
.wing_card i{
  border: 1px solid #0099ff;
  padding: 10px;
  color: #0099ff;
  font-weight: 900;
  border-radius: 5px;
  font-size: 40px;
}
.wing_card h3{
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
}
.wing_card p{
  font-size: 14px;
  color: #ffffffcb;
}

#menu{
  display: none;
}
.wing_card_wapper{
  flex-wrap: wrap;
  display: flex;
 
  height: auto;
  gap: 25px;
  justify-content: center;
}
.techno{
  text-transform: uppercase;
  margin-right: 5px;
  margin-top: 5px;
  color: #00c6ff;
}
.top_5_member_card img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.leader_board{
  padding: 40px;
  margin-top: 20px;
  max-width: 84%;
  border-radius: 10px;
  margin: 0 auto;
  border: 2px solid #002fff;
}
.heder_for_leaderboard {
  display: flex;
  justify-content: space-between;
}
.heder_for_leaderboard p{
  font-weight: 600;
color: #fff;
  font-size: 18px;
}
.top_5_member_card{
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 20px;
  border-bottom: 1px #002fff solid;
  padding-bottom: 10px;
}
.footer_content{

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer_content img{
  width: 150px;
  object-fit: cover;
}
.footer_content h2{
  font-size: 45px;
  color: #00c6ff;
}
.footer_content p{
  text-align: center;
  font-family: poppins;
  font-size: 18px;
}
.page_links{
  display: flex;
  gap: 30px;
}
.page_links a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.social_icon{
  display: flex;
  gap: 25px;
}
.social_icon i{
  color: #00c6ff;
  font-size: 30px;
}
.footer_bottom{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 10px 0;
  
  border-top: 1px #00c6ff solid;
  margin-top: 40px;
  color: #fff;
  text-transform: uppercase;
}
.footer_bottom p{
  font-size: 16px;
}
.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.3);
  z-index: 1000;
}

.side-menu a {
  display: block;
  padding: 16px 24px;
  text-decoration: none;
  color: #ffffff;
  font-family: poppins;
  font-size: 18px;
}

.side-menu .learning-btn {
  background: linear-gradient(90deg, #00c6ff, #0072ff);

  color: white;
  box-shadow: 0 0 5px rgba(0, 136, 255, 0.7);

  width: 80%;
  border: none;
  padding: 12px 24px;
  font-family: poppins;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: poppins    ;
  transition: all ease .3s;
}
#sideMenu{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
  flex-direction: column;
}

.side-menu .close-btn {
  position: absolute;
  top: 3%;
  right: 10%;
  color: #fff;
  font-size: 60px;
  cursor: pointer;
}

/* resposive style  */


/* for phone  */

@media (max-width: 576px) {
  .links{
    display: none;
  }
  .start_learning{
    display: none;
  }
  #menu{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    margin-left: 5px;
  }
  .nav_buttons{
    width: 50%;
  }
  .html svg{
    width: 50px;
    top: 15%;
left: 20%;
  }
  .code svg{
    top: 15%;
    right: 20%;
    width: 60px;
  }
  .security svg{
  display: none;
   }
   .design svg{
    display: none;
    }
    .python svg{
      top: 80%;
 right:20% ;
      width: 50px;
    }
    .react svg{
      width: 70px;  top: 80%;
      left: 20%;
    }
    .text_content h1{
    font-size: 20px;
  }
  #app{
    font-size: 35px;
    text-align: center;
  }
  .text_content p{
    font-size: 14px;
    text-align: center;
  }
  .vision_part_middle{
    gap: 25px;
    flex-direction: column;
  }
  .vision_part_top h2{
    font-size: 30px;
  }
  .mission_card_style{
    width: 100%;
  }
  .vision_section_warper{
    width: 90%;
    padding: 0;

  }
  .vision_part_middle{

    padding: 0;
  }
  .events_warper h2{
    font-size: 20px;
  }
  .mission_card_style h3{
   font-size: 20px;
   
  }
  .events_warper{
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
  }
  .mission_card_style p{
  font-size: 16px;
  }
  .events_box{
    height: auto;
    padding: 10px;
  }
  .events_warper h2{
    font-size: 30px;
  }
  .action{
    flex-direction: column;
    position: relative;
  }
  .action_text h3{
font-size: 20px;
margin-top: 10px;
text-align: center;
  }
  .action_text p{
    margin-bottom: 5px;
font-size: 15px;
width: 100%;
text-align: center;
  }
  .events_box img{
border-radius: 5px;
  
  }
  .projects_wrapper h2{
display: none;  
}
.leader_board{
  display: none;
}
.faq_warper h2{
  font-size: 20px;
}
.faq_warper{
  width: 90%;
  padding: 0;
}
.faq-section{
  width: 100%;
  max-width: 100%;
}
.contact_form_section form input,
.contact_form_section form textarea {
  width: 300px;
}
.footer_top{

  margin-top: 70px;

}
.footer_top p{
  font-family: poppins;
  text-align: center;
  font-size:20px;
}
.footer_top h2{
font-size: 65px;
line-height: 70px;

}
.contact_form_section{
  margin-top: 10px;
}
.footer_content h2{
 font-size: 35px;
 text-align: center;
}
.footer_content p{
  
  font-size: 16px;
}
.social_icon{
  margin-top: 10px;
}
.page_links{
  gap: 10px;
}
.page_links a{

  font-size: 16px;
  margin-top: 10px;
  font-family: poppins;

}
.footer_bottom{
  flex-direction: column;
}
 .club_overeview h1{
text-align: center;
}
.vision_mision{
  flex-direction: column-reverse;
  padding: 0%;
  width: 100%;
}
.vimi_left,.vimi_right{
  width: 100%;
}
.wing_show{
  padding-top: 850px;
width: 100%;
}
.wing_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%
}
.wing_card h3{
  font-size: 25px;
  text-align: center;
}
.wing_card p{
  text-align: center;
  font-size: 18px;
}
.glow{
  display: none;
}
.profile{
  display: flex;
  gap: 20px;
  width: 90%;
}
.profile img{
  width: 40% !important;
  object-fit: cover;

 
}

.social_icon_for_member a,i{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}
.profile h3{
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
}
.profile p{
  font-size: 16px;
  color: #57ddff;
  font-family: poppins;
  text-transform: uppercase;
  font-weight: 600;
} 
.club_member{
  padding-top: 800px;
}
.footer_bottom{
  margin-top: 20px;
}
.announcement_banner h1{
  font-size: 30px;
  width: 90%;
  text-align: center;
}
.announcement_banner{
  height: auto;
  padding: 150px 0;
}

.announcement_warper{
  width: 90% !important; 
}
.announcement_box{
  height: auto;
  width: 100% !important; 
}
.announcement_box h3{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.announcement_box small{
  font-size: 18px;
  color: #00c6ff;
}
.announcement_box p{
  width: 90%;
  font-size: 16px;
  text-align: center;
}
.anno_content{
  width: 90%;
}
.anno_content p{

font-size: 14px;
}
.announcement_box  img{
  height: auto !important;
  
}
.events_wrapper{
  width: 90% !important;
}
.events_wrapper p{
  font-size: 16px;
  width: 90%;
  text-align: center;
  text-transform: uppercase;
}
.events_wrapper h3{
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;

}
.announcement_box{
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.single_event_banner{
  height: 300px;
}
.event_warper h1{
font-size: 30px;
text-transform: uppercase;
}
.event_warper p{
font-size: 16px;
text-align: center;
text-transform: capitalize;
}
.moments-gallery img{
  aspect-ratio: 4/3 ;
  width: 100% !important;
}
.moments-gallery{
  width: 100% !important;
}
.moment-item{
  width: 100%;
}
.container h2{
  font-size: 25px;
}
.login_banner{
  height: 300px;
}
.login_banner h1{
  font-size: 25px;
  text-align: center;
}
.login-form input,
.login-form textarea {
  
  width: 100%;
  margin-bottom: 15px !important;
  margin: 0 auto;
 
}
.login-form h2{
  font-size: 25px;

}.login_from{
  padding-top: 100px !important;
}
.registation-form{
  width: 90% !important;
}
.registation_banner h1{
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}
footer{
  margin-top: 0 ;
}
.p_res{
  font-family: poppins;
  text-transform: uppercase;
  font-size: 18px !important;
}
.login-form{
  width: 340px !important;
  margin: 0 auto;
  padding: 15px;
}
.registation_from{
  padding: 70px 0;

}
.registation-form input,
.registation-form textarea {
  
  width: 100%;
 

}

.registaion_box{
  width: 100% !important;
  padding: 10px !important;
  margin: 0 auto;
}

.registation-form{
  padding: 20px;
  margin: 0 auto;
  
}
.registation-form h2{
font-size: 18px !important;
  
}
.dropdown{
  flex-direction: column;
}
#department,#semester,#wing{
  flex-direction: column;
}
.registation_button{
 width: 60% !important;
}
.pending h2{
  font-size: 25px;
  text-align: center;
}
.pending p{
  text-align: center;
  font-size: 20px;
}
.Verify_from{
width: 100%;
}
.details_top{
  flex-direction: column;
  gap: 5px;
  align-items: center;

  
}
.details_top P{
  font-size: 18px;
  margin-top: 5px;
}
.dash_main{
  flex-direction: column;
}
.dash_main_left{
  width: 100%;
}
.dash_main_right{
  width: 100%;
  
}
.learing_banner{
  padding: 100px 0;
}
.learing_banner h2{
  font-size: 1.3rem !important;
}
.profile h3{
  font-size: 16px;
}
}
.wing_show{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.moments-gallery img{
  aspect-ratio: 4/3 ;
}